*{
    box-sizing: border-box;
    margin: 0;



    padding: 0;
}
.container{
    max-width: 100%;
    max-height:100%;
    display: flex;
}
.rectangle{
    width: 45px;



    height: 100vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff
}
.top img{
    width:24px ;
    height: 16px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.view-dashboard img{
    width: 24px;
    height: 22px;
    margin-left: 10px;
    margin-top: 30px;
}
.second-container{
    flex-grow: 1;
}
.second-rectangle{
    width:100%;
    height: 48px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.links{
    display: flex;
    align-items: center;
}
.links li{
    list-style-type: none;
}
li img.one{
    width: 15px;
    /* margin-top: 22px;
    margin-left: 25px;
    margin-bottom: 22px;    */
    margin-left: 25px;
}
li img.two{
    width: 45px;
    /* margin-top: 22px;
    margin-left: 25px;
    margin-bottom: 22px; */
    margin-left: 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
}
li button{
    /* width: 78px; */
    margin-left: 25px;
    padding: 8px 30px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    background-color: red;
    border-radius: 4px;
    outline: none;
    border:none;
    cursor:pointer;
}
li.click,.click-me{
    color: #818e94;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
}
.check{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.check li{
    list-style-type: none;
    /* margin: 0 2vh; */
}
li img.three{
    width: 25px;
    margin-left: 25px;
}
li img.four{
    width: 15px;
    margin-left: 25px;
}
.space{
    width: 100%;
    background-color: #f4f7fc;
    padding:50px 140px;
    /* padding-right: 0; */
}
.flex{
    display: flex;
}
.third-rectangle{
    width: 70%;
    height: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    background-color: #ffffff;
}
.first-image, .sorry img{
    width: 16px;
    height: 16px;
}
.first-image{
    padding: 5px;
}
.confusing{
    display: flex;
}
.first-grid{
    max-width: 200px;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #f4f7fc;
}
/* .second-image, .third-image, .accounts, .bell img{
    width: 20px;
} */
.second-image, .third-image, .bell, .icon, .clock{
    width: 50px;
    height: 50px;
    background-color: #fff4f3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.first-grid, .relax h5{
    color: #2d2f39;
    font-family: Poppins;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
}
.first-grid p, .not p{
    color: #818e94;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, auto);
    flex-grow: 1;
    padding: 10px;
}
.fourth-rectangle{
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    background-color: #ffffff;
    margin-left: 15px;
}
.accounts, .refer{
    width: 50px;
    height: 50px;
    background-color: #f3f1ff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.relax{
    text-align: center;
}
.marks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.first{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.first img{
    width: 14px;
    margin-right: 10px;
}
.first .correct{
    color: #818e94;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}
.not p{
    text-align: center;
}
.space h1{
    margin: 20px 0px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
}
.graph{
    display: flex;
}
.fake-graph{
    background-color: white;
    padding:5px;  
    position: relative;
    width:600px; 
}
.deal{
    display: flex;
    padding: 20px;
}
.queue{
    width: 200px;
    padding: 10px;
    padding-right: 30px;
    border-right: 1px solid #f4f7fc;
}   
.first-queue li{
    list-style-type: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
li.extend{
    display:flex;
    justify-content: space-between;
}
li.color{
color: green;
background-color:skyblue;
border: 1px solid skyblue;
border-radius: 10px;
}
.shared{
    padding: 20px;
    flex-grow: 1;
}
.shared h2{
    text-align: center;
    color: #2d2f39;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
}
.shared p{
    text-align: center;
    color: #818e94;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
p.special{
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    color:green;
}
.dots{
    position: absolute;
    top:15px;
    right: 25px;
}
.main-graph{
        flex-grow:1;
        margin-left: 20px;
        background-color: white;
}
.main-graph img{
    width:100%;
    height: 230px;
}
.divisions{
    display: flex;
    margin-top: 10px;
}
.first-division{
    display: flex;
    background-color: white;
    width:490px;
    height: 220px;
}
.first-split{
        width: 50%;
        text-align: center;
        padding: 10px;
        border-right: 1px solid #f4f7fc;
}
.bell, .icon, .clock{
    margin-top: 30px;
}
.second-split{
    flex-grow: 1;
    background-color: #fff8e5;
}
.second-division{
    display: flex;
    flex-grow: 1;
    background-color: white;
    margin-left: 20px;
}
.refer{
    background-color: #e5f3fe;
    margin-top: 40px;
}
.third-split{
    width: 50%;
    text-align: center;
}
.fourth-split{
    flex-grow: 1;
    background-color: #e5f3fe;
}
.first-split, .third-split, .shortest h5{
    color: #2d2f39;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
.first-split p{
    color: #33c534;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    line-height: 9px;
}
.third-split, .shortest p{
    color: #818e94;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
}
.short{
    display: flex;
    background-color: white;
    /* width: 490px;
    height: 220px; */
    margin-top: 10px;
}
.shortest{
    width: 200px;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #f4f7fc;
}
.icon{
    background-color: #ebf9ea;
}
.longer{
    flex-grow: 1;
    background-color:#ebf9ea ;
}
.last{
    display:flex;
    margin-top: 10px;
}
.rule{
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-right: 1px solid #f4f7fc;
}
.clock{
    background-color: #e5f3fe;
}
.ten{
    width:16px;
    height: 16px;
    border-radius: 8px;
    background-color: black;
}
.fifth-container{
    flex-grow: 1;
    background-color: rebeccapurple;
    margin-left: 10px;
}
.sixth-container{
    display: flex;
    
}
.fresh{
    width: 200px;
   flex-grow: 1;
    margin-left: 10px;
}
.begin{
    display: flex;
    justify-content: space-between;
    background-color: white;
}